.form {
  background-color: #FFFFFF;
  padding: 40px;
  max-width: 810px;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);

  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .invoice__title {
    font-size: 2rem;
  }
  .input__default {
    width: 48%;
    max-height: 45px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .photo__drop__zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    position: relative;

    &:hover {
      .image__label {
        display: flex;
      }
    }

    @media screen and (max-width: 768px) {
      display: block;
      margin-top: 15px;
    }
  }
  .logo__input {
    display: none;
  }
}

.img__holder {
  width: 150px;
  height: 150px;
  background-color: #79a7cc;
  border-radius: 5px;

  .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.image__label {
  display: none;
  padding: 3px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  color: darkslategray;
}
.logoIcon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.invoice__details {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 2.25rem;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.input__default {
  border-radius: 3px;
  outline: none;
  border: 1px solid #aaa;
  width: 100%;
  padding: 10px 16px;
  @media screen and (max-width: 768px) {
    margin-bottom: 8px;
  }
}

.form__field {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
}
.label {
  font-size: .85rem;
  min-width: 25%;
  color: #454545;
}

.divider {
  margin: 8px 0;
  border: none;
  outline: none;
  height: 0.5px;
  background: #e5e7eb;
}

.row__group {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 2.25rem;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.group {
  flex: 0 0 50%;
}

.table__wrapper {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  margin-top: 20px;

  thead {
    tr {
      text-transform: uppercase;
      padding: 0.8rem 0;
      font-weight: 700;
      border-top: 1px solid;
      border-bottom: 0.5px solid;
      font-size: 11px;

      .controls {
        width: 8px;
        max-width: 8px;
      }
    }
  }
  th {
    text-align: right;
    padding: 0.5rem 0.2rem;
    border: none;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
  }
  td {
    border: none;
    padding-top: 8px;
    padding-bottom: 0px;
    padding: 0.25rem;
  }
  .invoice__items {

    tr {
      border-bottom: 1px dashed #ddd;
    }
    .input__default {
      margin-bottom: 5px;
    }
    td {
      vertical-align: top;
    }
  }
  .item__row {
    cursor: pointer;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out;
    
    &__actions {
      color: aquamarine;

      &__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .rate {
      text-align: right;
    }

    input,
    .amount,
    .tax {
      text-align: right;
    }
    .description {
      span {
        display: block;
      }

      input {
        text-align: left;
      }
      .details {
        resize: vertical;
        min-height: 63px;
        max-height: 150px;
        font-family: 'Arial';
        
        @media screen and (max-width: 768px) {
          min-height: 125px;
        }
      }
    }

    .rate,
    .qty,
    .amount {
      min-width: 120px
    }

    .amount {
      max-width: 120px;
      word-wrap: break-word;
    }
  }
}
.invoice__headers {
  .description {
    text-align: left;
  }
}

.btn__remove,
.btn__add {
  min-width: 30px;
  padding: 4px;
  background: #e5e7eb;
  font-size: 14px;
  color: #374151;
  padding: 8px 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}
.btn__add {
  background-color: #444;

  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }
}
.svg__close__icon {
  width: 0.6875em;
  display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.total__section {
  text-align: right;

  @media screen and (max-width: 768px) {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
  }


  .total {
    padding-left: 90px;

    @media screen and (max-width: 768px) {
      padding-left: 20px;
    }
  }
}

// mobile //
.mobile__section {
  margin-top: 30px;
}
.input__group {
  display: flex;
  justify-content: space-between;

  .input__default {
    width: 90%;
    }

    .qty {
      justify-content: flex-end;
      display: flex;
    }
}

.mobile__details {
  resize: vertical;
  min-height: 100px;
  font-family: 'Arial';
}
.btn__text {
  margin-left: 4px;
}

.item__row {
  cursor: pointer;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  
  &__actions {

    &__mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
    }
  }
}