.section {
  margin: 80px 0;
  font-size: 40px;
}
.section {
  h2 {
    margin-bottom: 30px;
  }

  &__templates {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__single {
      width: 200px;
      height: 200px;
      border: 1px solid black;
    }
  }
}

.enlarge {
  // width: 20%;
  width: 25%;
  height: 60%;
  // float: left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  // margin-right: 20px;
  border: 1px solid gray;
}
.enlarge:hover {
  width: 40%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.cc-selector-2 input{
  position:absolute;
  z-index:999;
}

.visa {
  background-image:url(http://i.imgur.com/lXzJ1eB.png);
}
.mastercard {
  background-image:url(http://i.imgur.com/SJbRQF7.png);
}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* HIDE RADIO */
.radio { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.radio {
  .img {
    cursor: pointer;
  }
} 

/* CHECKED STYLES */
.radio:checked + img {
  outline: 2px solid #f00;
}

// .label {
//   border: 1px solid red;
// }