.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: 24px;
  color: #FFFFFF;

  @media screen and (max-width: 768px) {
    padding: 20px 20px;
  }
}

.pageLogo {
  cursor: pointer;
}

.aside{
  display: flex;
  align-items: center;
}

.lang{
  margin-right: 13px;
  margin-bottom: 11px;
}
