.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: 24px;
  color: #FFFFFF;
  background: linear-gradient(to left,#28a5f5,#1e87f0);
}

.pageLogo {
  cursor: pointer;
}
